<?xml version="1.0" encoding="utf-8"?>
<Configuration>

<!-- The mod will only process prefab types listed below -->
<!-- With detailed logging enabled, the mod will list also list all prefabs that are not modified -->

<ValidPrefabTypes>
	<PrefabType>DemandPrefab</PrefabType>
	<PrefabType>EconomyPrefab</PrefabType>
	<PrefabType>ResourcePrefab</PrefabType>
	<PrefabType>ZonePrefab</PrefabType>
	<PrefabType>CompanyPrefab</PrefabType>
	<!--<PrefabType>BuildingPrefab</PrefabType>-->
</ValidPrefabTypes>


<!-- ECONOMY -->

<Prefab name="EconomyParameters">
	<Component name="EconomyPrefab">
		<!-- default: 0.85f, this change effectively increases Extractor production; 0.65f for 31%, 0.75f for 13%, 0.70 for 21% -->
		<Field name="m_ExtractorCompanyExportMultiplier" valueFloat="0.70" />
		<!-- default 0.0001f, commercial is 0.0010f, extractor is 64/10000 i.e. 0.0064f -->
		<Field name="m_IndustrialProfitFactor" valueFloat="0.0008" />
		<Field name="m_Wage0" valueInt="1550" /> <!-- 1200 -->
		<Field name="m_Wage1" valueInt="1900" /><!-- 1200 -->
		<Field name="m_Wage2" valueInt="2980" /><!-- 1200 -->
		<Field name="m_Wage3" valueInt="4020" /><!-- 1200 -->
		<Field name="m_Wage4" valueInt="5010" /><!-- 1200 -->
		<Field name="m_Pension" valueInt="1000" /> <!-- 800 -->
		<Field name="m_FamilyAllowance" valueInt="500" /> <!-- 300 -->
		<!--<Field name="m_UnemploymentBenefit" valueInt="600" />--><!-- 800 -->
	</Component>
</Prefab>


<!-- ZONES -->

<Prefab name="EU Residential High">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="500" /> <!-- 900 -->
	</Component>
</Prefab>
<Prefab name="NA Residential High">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="500" /> <!-- 900 -->
	</Component>
</Prefab>
<Prefab name="EU Residential Mixed">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="330" /> <!-- 450 -->
	</Component>
</Prefab>
<Prefab name="NA Residential Mixed">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="330" /> <!-- 450 -->
	</Component>
</Prefab>
<Prefab name="EU Residential Medium">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="200" /> <!-- 250 -->
	</Component>
</Prefab>
<Prefab name="NA Residential Medium">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="200" /> <!-- 250 -->
	</Component>
</Prefab>
<Prefab name="Residential LowRent">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="250" /> <!-- 900 -->
	</Component>
</Prefab>
<Prefab name="Industrial Manufacturing">
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.4" /> <!-- 1.0 -->
	</Component>
</Prefab>
<Prefab name="Office High">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="350" /> <!-- 200 -->
	</Component>
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="7.0" /> <!-- 5.0 -->
	</Component>
</Prefab>
<Prefab name="Office Low">
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.2" /> <!-- 1.0 -->
	</Component>
</Prefab>
<Prefab name="EU Commercial Low">
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.2" /> <!-- 1.0 -->
	</Component>
</Prefab>
<Prefab name="NA Commercial Low">
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.2" /> <!-- 1.0 -->
	</Component>
</Prefab>


<!-- RESOURCES -->

<Prefab name="ResourceConvenienceFood">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="35" />
		<Field name="m_BaseConsumption" valueFloat="15" />
	</Component>
</Prefab>
<Prefab name="ResourceFood">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="50" />
		<Field name="m_BaseConsumption" valueFloat="25" />
	</Component>
</Prefab>
<Prefab name="ResourcePaper">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="70" />
	</Component>
</Prefab>
<Prefab name="ResourceFurniture">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="90" />
	</Component>
</Prefab>
<Prefab name="ResourceVehicles">
	<Component name="ResourcePrefab">
		<Field name="m_CarConsumption" valueInt="5" />
	</Component>
</Prefab>
<Prefab name="ResourcePetrochemicals">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="30" />
	</Component>
</Prefab>
<Prefab name="ResourcePlastics">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="70" />
		<Field name="m_CarConsumption" valueInt="5" />
	</Component>
</Prefab>
<Prefab name="ResourceElectronics">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="90" />
		<Field name="m_BaseConsumption" valueFloat="20" />
		<Field name="m_CarConsumption" valueInt="5" />
	</Component>
</Prefab>
<Prefab name="ResourceChemicals">
	<Component name="ResourcePrefab">
		<Field name="m_BaseConsumption" valueFloat="20" />
		<Field name="m_CarConsumption" valueInt="10" />
	</Component>
</Prefab>
<Prefab name="ResourcePharmaceuticals">
	<Component name="ResourcePrefab">
		<Field name="m_BaseConsumption" valueFloat="15" />
	</Component>
</Prefab>
<Prefab name="ResourceMachinery">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="150" />
	</Component>
</Prefab>
<Prefab name="ResourceBeverages">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="45" />
		<Field name="m_BaseConsumption" valueFloat="15" />
	</Component>
</Prefab>
<Prefab name="ResourceTextiles">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="60" />
		<Field name="m_BaseConsumption" valueFloat="30" />
	</Component>
</Prefab>
<Prefab name="ResourceTelecom">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="60" />
		<Field name="m_BaseConsumption" valueFloat="25" />
	</Component>
</Prefab>
<Prefab name="ResourceFinancial">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="80" />
		<Field name="m_BaseConsumption" valueFloat="20" />
		<Field name="m_CarConsumption" valueInt="10" />
	</Component>
</Prefab>
<Prefab name="ResourceMedia">
	<Component name="ResourcePrefab">
		<Field name="m_BaseConsumption" valueFloat="15" />
	</Component>
</Prefab>

<!-- COMPANIES -->
<!-- WorkplaceComplexity: 0 Manual,1 Simple,2 Complex,3 Hitech -->
<!-- Use IndustrialProcess for process definition -->

<!-- EXTRACTORS -->

<Prefab name="Industrial_ForestryExtractor">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.04"/> <!-- 0.02 -->
    </Component>
</Prefab>
<Prefab name="Industrial_GrainExtractor">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.05"/> <!-- 0.032 -->
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="1" /> <!-- Manual => Simple -->
    </Component>
</Prefab>
<Prefab name="Industrial_OreExtractor">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.08"/> <!-- 0.04 -->
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="1" /> <!-- Manual => Simple -->
    </Component>
</Prefab>
<Prefab name="Industrial_OilExtractor">
	<Component name="CompanyPrefab">
		<Field name="profitability" valueFloat="60" /> <!-- 90 -->
	</Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.11"/> <!-- 0.04 -->
    </Component>
</Prefab>
<Prefab name="Industrial_CoalMine">
	<Component name="CompanyPrefab">
		<Field name="profitability" valueFloat="40" /> <!-- 60 -->
	</Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.14"/> <!-- 0.1 -->
    </Component>
</Prefab>
<Prefab name="Industrial_StoneQuarry">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.12"/> <!-- 0.08 -->
    </Component>
</Prefab>
<Prefab name="Industrial_VegetableExtractor">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.06"/> <!-- 0.032 -->
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="1" /> <!-- Manual => Simple -->
    </Component>
</Prefab>
<Prefab name="Industrial_LivestockExtractor">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.09"/> <!-- 0.04 -->
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="1" /> <!-- Manual => Simple -->
    </Component>
</Prefab>
<Prefab name="Industrial_CottonExtractor">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.07"/> <!-- 0.04 -->
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="1" /> <!-- Manual => Simple -->
    </Component>
</Prefab>

<!-- OFFICES -->

<Prefab name="Office_SoftwareCompany">
	<Component name="CompanyPrefab">
		<Field name="profitability" valueFloat="90" /> <!-- 400 -->
	</Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="10"/> <!-- 1 Electronics -> 20 Software -->
    </Component>
</Prefab>
<Prefab name="Office_Bank">
	<Component name="CompanyPrefab">
		<Field name="profitability" valueFloat="90" /> <!-- 400 -->
	</Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="6"/> <!-- 1 Software -> 20 Financial -->
    </Component>
	<Component name="Workplace">
		<Field name="m_Complexity" valueInt="3" /> <!-- Complex => Hitech -->
    </Component>
</Prefab>
<Prefab name="Office_MediaCompany">
	<Component name="CompanyPrefab">
		<Field name="profitability" valueFloat="90" /> <!-- 400 price 60->50 -->
	</Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="8"/> <!-- 1 Software -> 20 Media -->
    </Component>
	<Component name="Workplace">
		<Field name="m_Complexity" valueInt="3" /> <!-- Complex => Hitech -->
    </Component>
</Prefab>
<Prefab name="Office_TelecomCompany">
	<Component name="CompanyPrefab">
		<Field name="profitability" valueFloat="90" /> <!-- 400 price 80->60 -->
	</Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="10"/> <!-- 1 Electronics + 2 Software -> 20 Telecom -->
    </Component>
</Prefab>

</Configuration>
