<?xml version="1.0" encoding="utf-8"?>
<Configuration>

<!-- The mod will only process prefab types listed below -->
<!-- With detailed logging enabled, the mod will list all prefabs that are NOT modified -->

<!-- ECONOMY & DEMAND -->

<Prefab type="EconomyPrefab" name="EconomyParameters">
	<Component name="EconomyPrefab">
		<Field name="m_CommercialDiscount" valueFloat="0.5" /> <!-- deafult: 0.5f -->
		<!-- default: 0.85f, this change effectively increases Extractor production; 0.65f for 31%, 0.75f for 13%, 0.70 for 21% -->
		<Field name="m_ExtractorCompanyExportMultiplier" valueFloat="0.75" />
		<!-- default 0.0001f, commercial is 0.0010f, extractor is 64/10000 i.e. 0.0064f -->
		<Field name="m_IndustrialProfitFactor" valueFloat="0.0008" />
		<Field name="m_Wage0" valueInt="1330" /> <!-- 1200, 1550 -->
		<Field name="m_Wage1" valueInt="1700" /> <!-- 2000, 1900 -->
		<Field name="m_Wage2" valueInt="2770" /> <!-- 2500, 2980 -->
		<Field name="m_Wage3" valueInt="3880" /> <!-- 3500, 4020 -->
		<Field name="m_Wage4" valueInt="5040" /> <!-- 5000, 5010 -->
		<Field name="m_Pension" valueInt="1000" /> <!-- 800 -->
		<Field name="m_FamilyAllowance" valueInt="400" /> <!-- 300 -->
		<Field name="m_UnemploymentBenefit" valueInt="600" /> <!-- 800 -->
		<!--<Field name="m_TrafficReduction" valueFloat="0.0003" />--> <!-- default 0.0005, at 0.0002 the homeless issue starts -->
	</Component>
</Prefab>

<Prefab type="DemandPrefab" name="DemandParameters">
  <Component name="DemandPrefab">
    <Field name="m_CommercialBaseDemand" valueFloat="2.0" /> <!-- default: 1.0, values >1 boost sales capacity -->
	<Field name="m_FreeCommercialProportion" valueFloat="20" /> <!-- default: 10 -->
  </Component>
</Prefab>

<Prefab type="ServiceFeeParameterPrefab" name="ServiceFeeParameters">
	<!-- Special component, only 3 fees are supported atm -->
	<Component name="FeeParameters">
		<Field name="m_GarbageFee.m_Default" valueFloat="0.4" /> <!-- default: 1.0 -->
		<!-- EXAMPLE
		<Field name="m_ElectricityFee.m_Default" valueFloat="0.2" /> default: 0.2
		<Field name="m_WaterFee.m_Default" valueFloat="0.1" /> default: 0.1
		--> 
	</Component>
</Prefab>

  
  <!-- ZONES -->

<Prefab type="ZonePrefab" name="EU Residential High">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="600" /> <!-- 900 -->
	</Component>
</Prefab>
<Prefab type="ZonePrefab" name="NA Residential High">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="600" /> <!-- 900 -->
	</Component>
</Prefab>
<Prefab type="ZonePrefab" name="EU Residential Mixed">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="330" /> <!-- 450 -->
	</Component>
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="2.1" /> <!-- 2.5 -->
	</Component>
</Prefab>
<Prefab type="ZonePrefab" name="NA Residential Mixed">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="330" /> <!-- 450 -->
	</Component>
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="2.1" /> <!-- 2.5 -->
	</Component>
</Prefab>
<Prefab type="ZonePrefab" name="EU Residential Medium">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="200" /> <!-- 250 -->
	</Component>
</Prefab>
<Prefab type="ZonePrefab" name="NA Residential Medium">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="200" /> <!-- 250 -->
	</Component>
</Prefab>
<Prefab type="ZonePrefab" name="Residential LowRent">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="150" /> <!-- 900 -->
	</Component>
</Prefab>
<Prefab type="ZonePrefab" name="Industrial Manufacturing">
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.3" /> <!-- 1.0 -->
	</Component>
</Prefab>
<Prefab type="ZonePrefab" name="Office High">
	<Component name="ZoneServiceConsumption">
		<Field name="m_Upkeep" valueFloat="500" /> <!-- 200 -->
	</Component>
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="8.0" /> <!-- 5.0 -->
	</Component>
</Prefab>
<Prefab type="ZonePrefab" name="Office Low">
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.1" /> <!-- 1.0 -->
	</Component>
</Prefab>
<Prefab type="ZonePrefab" name="EU Commercial High">
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="4.0" /> <!-- 5.0 -->
	</Component>
</Prefab>
<Prefab type="ZonePrefab" name="NA Commercial High">
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="4.0" /> <!-- 5.0 -->
	</Component>
</Prefab>
<Prefab type="ZonePrefab" name="EU Commercial Low">
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.3" /> <!-- 1.0 -->
	</Component>
</Prefab>
<Prefab type="ZonePrefab" name="NA Commercial Low">
	<Component name="ZoneProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.3" /> <!-- 1.0 -->
	</Component>
</Prefab>


<!-- RESOURCES -->

<Prefab type="ResourcePrefab" name="ResourceConvenienceFood">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="35" />
		<Field name="m_BaseConsumption" valueFloat="15" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceFood">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="50" />
		<Field name="m_BaseConsumption" valueFloat="25" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourcePaper">
	<!-- ResourcePaper.ResourcePrefab.m_InitialPrice: 60 -->
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="60" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceFurniture">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="80" /> <!-- 60 -->
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceLodging">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="250" /> <!-- 200 -->
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceMeals">
  <Component name="ResourcePrefab">
    <Field name="m_InitialPrice" valueFloat="60" /> <!-- default 30; too little, it is created from Food which costs 50(!) -->
  </Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceVehicles">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="200" /> <!-- 160 -->
		<Field name="m_CarConsumption" valueInt="10" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourcePetrochemicals">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="30" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourcePlastics">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="70" />
		<Field name="m_CarConsumption" valueInt="5" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceElectronics">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="90" /> <!-- 120 -->
		<Field name="m_BaseConsumption" valueFloat="20" />
		<Field name="m_CarConsumption" valueInt="5" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceSoftware">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="85" /> <!-- 40 -->
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceChemicals">
	<Component name="ResourcePrefab">
		<Field name="m_BaseConsumption" valueFloat="20" />
		<Field name="m_CarConsumption" valueInt="10" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourcePharmaceuticals">
	<Component name="ResourcePrefab">
		<Field name="m_BaseConsumption" valueFloat="15" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceMachinery">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="150" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceBeverages">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="40" /> <!-- 34 -->
		<Field name="m_BaseConsumption" valueFloat="15" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceEntertainment">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="90" /> <!-- 100 -->
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceTextiles">
  <Component name="ResourcePrefab">
    <Field name="m_InitialPrice" valueFloat="60" />
    <Field name="m_BaseConsumption" valueFloat="30" />
  </Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceTelecom">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="60" /> <!-- 80 -->
		<Field name="m_BaseConsumption" valueFloat="25" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceFinancial">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="70" /> <!-- 100 -->
		<Field name="m_BaseConsumption" valueFloat="20" />
		<Field name="m_CarConsumption" valueInt="10" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceMedia">
	<Component name="ResourcePrefab">
		<Field name="m_BaseConsumption" valueFloat="15" />
	</Component>
</Prefab>
<Prefab type="ResourcePrefab" name="ResourceRecreation">
	<Component name="ResourcePrefab">
		<Field name="m_InitialPrice" valueFloat="140" /> <!-- 40 -->
	</Component>
</Prefab>

<!-- COMPANIES -->
<!-- WorkplaceComplexity: 0 Manual, 1 Simple, 2 Complex, 3 Hitech -->
<!-- Use IndustrialProcess for process definition, only 2 fields are supported atm -->

<!-- EXTRACTORS -->

<Prefab type="CompanyPrefab" name="Industrial_ForestryExtractor">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.04"/> <!-- 0.02 -->
    </Component>
</Prefab>
<Prefab type="CompanyPrefab" name="Industrial_GrainExtractor">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.05"/> <!-- 0.032 -->
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="1" /> <!-- Manual => Simple -->
    </Component>
</Prefab>
<Prefab type="CompanyPrefab" name="Industrial_OreExtractor">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.08"/> <!-- 0.04 -->
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="1" /> <!-- Manual => Simple -->
    </Component>
</Prefab>
<Prefab type="CompanyPrefab" name="Industrial_OilExtractor">
	<Component name="CompanyPrefab">
		<Field name="profitability" valueFloat="60" /> <!-- 90 -->
	</Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.11"/> <!-- 0.04 -->
    </Component>
</Prefab>
<Prefab type="CompanyPrefab" name="Industrial_CoalMine">
	<Component name="CompanyPrefab">
		<Field name="profitability" valueFloat="40" /> <!-- 60 -->
	</Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.14"/> <!-- 0.1 -->
    </Component>
</Prefab>
<Prefab type="CompanyPrefab" name="Industrial_StoneQuarry">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.12"/> <!-- 0.08 -->
    </Component>
</Prefab>
<Prefab type="CompanyPrefab" name="Industrial_VegetableExtractor">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.06"/> <!-- 0.032 -->
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="1" /> <!-- Manual => Simple -->
    </Component>
</Prefab>
<Prefab type="CompanyPrefab" name="Industrial_LivestockExtractor">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.09"/> <!-- 0.04 -->
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="1" /> <!-- Manual => Simple -->
    </Component>
</Prefab>
<Prefab type="CompanyPrefab" name="Industrial_CottonExtractor">
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.07"/> <!-- 0.04 -->
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="1" /> <!-- Manual => Simple -->
    </Component>
</Prefab>

<!-- OFFICES -->

<Prefab type="CompanyPrefab" name="Office_SoftwareCompany">
	<Component name="CompanyPrefab">
		<Field name="profitability" valueFloat="70" /> <!-- 400 -->
	</Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="15"/> <!-- 1 Electronics -> 20 Software -->
    </Component>
</Prefab>
<Prefab type="CompanyPrefab" name="Office_Bank">
	<Component name="CompanyPrefab">
		<Field name="profitability" valueFloat="70" /> <!-- 400 -->
	</Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="3"/> <!-- 1 Software -> 20 Financial -->
    </Component>
	<Component name="Workplace">
		<Field name="m_Complexity" valueInt="3" /> <!-- Complex => Hitech -->
    </Component>
</Prefab>
<Prefab type="CompanyPrefab" name="Office_MediaCompany">
	<Component name="CompanyPrefab">
		<Field name="profitability" valueFloat="70" /> <!-- 400 price 60->50 -->
	</Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="15"/> <!-- 1 Software -> 20 Media -->
    </Component>
	<Component name="Workplace">
		<Field name="m_Complexity" valueInt="3" /> <!-- Complex => Hitech -->
    </Component>
</Prefab>
<Prefab type="CompanyPrefab" name="Office_TelecomCompany">
	<Component name="CompanyPrefab">
		<Field name="profitability" valueFloat="70" /> <!-- 400 price 80->60 -->
	</Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="8"/> <!-- 1 Electronics + 2 Software -> 20 Telecom -->
    </Component>
</Prefab>

<!-- COMMERCIALS -->

  <Prefab type="CompanyPrefab" name="Commercial_FoodStore">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueFloat="20" />
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="0" /> <!-- Simple => Manual -->
    </Component>
	<!-- Commercial_FoodStore.ServiceCompany.m_MaxWorkersPerCell: 0.45 -->
	<!--
    <Component name="ServiceCompany">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.4" />
    </Component>
	-->
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_BookStore"> <!-- ResourcePaper (60) -->
    <Component name="CompanyPrefab">
      <Field name="profitability" valueFloat="10" />
    </Component>
    <Component name="ServiceCompany">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.35" /> <!-- 0.5 -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_VehicleStore"> <!-- ResourceVehicles (200) -->
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="10" />
    </Component>
	<!--
	<Component name="ServiceCompany">
		<Field name="m_MaxWorkersPerCell" valueFloat="0.3" /> //0.22
	</Component>
	-->
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_Restaurant"> <!-- ResourceFood (50) => ResourceMeals (60) -->
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="60" /> <!-- 420 -->
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="2"/> <!-- 1 Food -> 1 Meals -->
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="0" /> <!-- Simple => Manual -->
    </Component>
    <!-- ServiceCompany.m_ServiceConsuming: 20 -->
	<!-- Commercial_Restaurant.ServiceCompany.m_MaxWorkersPerCell: 0.38 -->
    <Component name="ServiceCompany">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.33" /> <!-- 0.38 -->
      <Field name="m_ServiceConsuming" valueInt="30" />
    </Component>
    <!-- LeisureProvider.m_Efficiency: 40 -->
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_ElectronicsStore"> <!-- Complex -->
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="40" />
    </Component>
    <Component name="ServiceCompany">
      <Field name="m_MaxWorkersPerCell" valueInt="0" valueFloat="0.40" /> <!-- 0.5 -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_GasStation"> <!-- ResourcePetrochemicals (30) -->
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="100" />
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_Hotel"> <!-- Food (50) => ResourceLodging (200) -->
    <!-- ServiceCompany.m_ServiceConsuming: 1 -->
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="10" />
    </Component>
	<!-- Commercial_Hotel.ServiceCompany.m_MaxWorkersPerCell: 0.32 -->
    <Component name="ServiceCompany">
      <Field name="m_MaxWorkersPerCell" valueInt="0" valueFloat="0.28" /> <!-- 0.32 -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_Bar"> <!-- ResourceBeverages (45) -> ResourceEntertainment (80) -->
    <!-- LeisureProvider.m_Efficiency: 13 -->
    <Component name="CompanyPrefab">
      <Field name="profitability" valueFloat="30" /> <!-- 380 -->
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="5"/> <!-- 1 Beverages -> 1 Entertainment -->
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="0" /> <!-- Simple => Manual -->
    </Component>
    <!-- Commercial_Bar.ServiceCompany.m_ServiceConsuming: 5 -->
    <Component name="ServiceCompany">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.28" /> <!-- 0.35 -->
      <Field name="m_ServiceConsuming" valueInt="2" />
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_ChemicalStore">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="150" />
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_ConvenienceFoodStore">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueFloat="30" />
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="0" /> <!-- Simple => Manual -->
    </Component>
	<!-- Commercial_ConvenienceFoodStore.ServiceCompany.m_MaxWorkersPerCell: 0.34 -->
    <Component name="ServiceCompany">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.42" /> <!-- 0.34 -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_DrugStore"> <!-- Complex -->
    <Component name="CompanyPrefab">
      <Field name="profitability" valueFloat="20" /> <!-- 600 -->
    </Component>
	<!-- Commercial_DrugStore.ServiceCompany.m_MaxWorkersPerCell: 0.5 -->
    <Component name="ServiceCompany">
      <Field name="m_MaxWorkersPerCell" valueInt="0" valueFloat="0.38" />
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_FashionStore">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueFloat="200" />
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="0" /> <!-- Simple => Manual -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_FurnitureStore"> <!-- ResourceFurniture -->
    <Component name="CompanyPrefab">
      <Field name="profitability" valueFloat="40" />
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_LiquorStore">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="20" />
    </Component>
	<!-- Commercial_LiquorStore.ServiceCompany.m_MaxWorkersPerCell: 0.38 -->
    <Component name="ServiceCompany">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.28" /> <!-- 0.38 -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_PlasticsStore">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" /> <!-- 360 -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Commercial_RecreactionStore"> <!-- None => ResourceRecreation (140) -->
    <!-- LeisureProvider.m_Efficiency: 20 -->
    <Component name="CompanyPrefab">
      <Field name="profitability" valueFloat="40" /> <!-- 360 -->
    </Component>
    <!-- ServiceCompany.m_ServiceConsuming: 10 -->
    <Component name="ServiceCompany">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.22" /> <!-- 0.38 -->
      <Field name="m_ServiceConsuming" valueInt="5" />
    </Component>
  </Prefab>
  
<!-- INDUSTRIALS -->
  
  <Prefab type="CompanyPrefab" name="Industrial_FoodFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="45" />
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="3" /> <!-- 1 Vegetables + 1 Livestock -> 2 Food -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_PaperMill">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="40" />
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.4" /> <!-- 0.3 Complex -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_BioRefinery">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="55" /> <!-- 100 -->
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.6" /> <!-- 0.65 Hitech -->
      <Field name="m_Input1.m_Amount" valueInt="1" /> <!-- 3 Grains -> 1 Petrochemicals -->
	  <!-- EXAMPLE - please note that this should be only used with resources that take 2 inputs!
      <Field name="m_Input2.m_Amount" valueInt="0" />
	  -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_ElectronicsFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="45" />
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="3" /> <!-- Complex => Hitech -->
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.6" /> <!-- 0.65 Hitech -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_MetalSmelter">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="40" />
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="2" /> <!-- Simple => Complex -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_OilRefinery">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="50" />
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_PlasticsFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="45" />
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="3" /> <!-- Complex => Hitech -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_SteelPlant">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="45" />
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_MachineryFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="35" /> <!-- 50 -->
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="2" /> <!-- Simple => Complex -->
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.45" /> <!-- 0.5 Complex -->
      <Field name="m_Output.m_Amount" valueInt="1" /> <!-- 1 Steel + 1 Metal -> 2 Machinery -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_MineralPlant">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="45" />
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_ConcreteFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="45" />
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.35" /> <!-- 0.25 Simple -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_ChemicalFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="60" />
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="3" /> <!-- Complex => Hitech -->
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueInt="0" valueFloat="0.6" /> <!-- 0.65 Hitech -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_PharmaceuticalsFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="45" /> <!-- 100 -->
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.65" /> <!-- 0.6 Hitech -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_VehicleFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="45" /> <!-- 75 -->
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.4" /> <!-- 0.3 Complex -->
      <Field name="m_Output.m_Amount" valueInt="1" /> <!-- 1 Plastics + 1 Metal -> 2 Vehicles -->								
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_BeverageFromGrainFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="35" />
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="2" /> <!-- Simple => Complex -->
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="2" /> <!-- 1 Grain -> 1 Beverages -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_BeverageFromVegetablesFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="40" />
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="2" /> <!-- Simple => Complex -->
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="2" /> <!-- 1 Vegetables -> 1 Beverages -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_ConvenienceFoodFromLivestockFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="35" />
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="2" /> <!-- 1 Livestock -> 1 Conv.food -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_TextileFromCottonFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="40" />
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.5" /> <!-- 0.65 Simple -->
      <Field name="m_Output.m_Amount" valueInt="2" /> <!-- 1 Cotton -> 1 Textile -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_TextileFromLivestockFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="40" />
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="2" /> <!-- 1 Livestock -> 1 Textile -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_TextileFromPetrochemicalsFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="35" />
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="2" /> <!-- 1 Petrochemicals -> 3 Texttiles -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_SawMill">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="45" />
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="1" /> <!-- Manual => Simple -->
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_MaxWorkersPerCell" valueFloat="0.38" /> <!-- 0.32 Simple -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_FurnitureFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="50" />
    </Component>
    <Component name="Workplace">
      <Field name="m_Complexity" valueInt="2" /> <!-- Simple => Complex -->
    </Component>
  </Prefab>
  <Prefab type="CompanyPrefab" name="Industrial_ConvenienceFoodFromGrainFactory">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="35" />
    </Component>
    <Component name="IndustrialProcess">
      <Field name="m_Output.m_Amount" valueInt="2" /> <!-- 1 Grain -> 1 Conv.food -->
    </Component>
  </Prefab>
  
  
<!-- WAREHOUSES -->
<!-- All bumped from 10 to 15, however I am not sure if this helps -->

<!--  
  <Prefab name="Industrial_WarehouseConvenienceFood">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseGrain">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehousePaper">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseVehicles">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseWood">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseElectronics">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseMetals">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseOil">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehousePlastics">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseOre">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehousePetrochemicals">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseStone">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseCoal">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseLivestock">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseCotton">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseSteel">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseMinerals">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseConcrete">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseMachinery">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseChemicals">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehousePharmaceuticals">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseBeverages">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseTextiles">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseFood">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseVegetables">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseTimber">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
  <Prefab name="Industrial_WarehouseFurniture">
    <Component name="CompanyPrefab">
      <Field name="profitability" valueInt="0" valueFloat="15" />
    </Component>
  </Prefab>
-->

<!-- INDUSTRIAL SIGNATURES -->
<!-- All have Space Multiplier = 1.5 and some are huge, so the number of workers can reach 2000 -->
<!-- Level factor is 2.34 for all of them... why??? are they actually Level 3 companies??? -->
<!-- Init gives them Level 5 and workers' distribution is also from Level 5 -->

<Prefab type="BuildingPrefab" name="IndustrialManufacturingSignature01"> <!-- vehicles, 36x36, wpc=0.4 => 1814 -->
	<Component name="BuildingProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.1" /> <!-- new: 1330 -->
	</Component>
</Prefab>
<Prefab type="BuildingPrefab" name="IndustrialManufacturingSignature02"> <!-- 18x10, stone=>minerals, 380 -->
	<Component name="BuildingProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.2" /> <!-- new: 200 -->
	</Component>
</Prefab>
<Prefab type="BuildingPrefab" name="IndustrialManufacturingSignature03"> <!-- 14x12, livestock=>food, 440 -->
	<Component name="BuildingProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.2" /> <!-- new: 240 -->
	</Component>
</Prefab>
<Prefab type="BuildingPrefab" name="IndustrialManufacturingSignature04"> <!-- paper, 36x28, wpc=0.4 complex => 1411 -->
	<Component name="BuildingProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.0" /> <!-- new: 940 -->
	</Component>
</Prefab>
<Prefab type="BuildingPrefab" name="IndustrialManufacturingSignature05"> <!-- chemicals, 19x18, wpc=0.6 hitech => 1100 -->
	<Component name="BuildingProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.1" /> <!-- new: 530 -->
	</Component>
</Prefab>
<Prefab type="BuildingPrefab" name="IndustrialManufacturingSignature06"> <!-- 28x14, petrochemicals, 800 -->
	<Component name="BuildingProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.2" /> <!-- new: 440 -->
	</Component>
</Prefab>
<Prefab type="BuildingPrefab" name="IndustrialManufacturingSignature07"> <!-- electronics, 30x22, wpc=0.6 => 1386 -->
	<Component name="BuildingProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.1" /> <!-- new: 1020 -->
	</Component>
</Prefab>
<Prefab type="BuildingPrefab" name="IndustrialManufacturingSignature08"> <!-- pharmaceuticals, 16x20, wpc=0.65 hitech => 700 -->
	<Component name="BuildingProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.2" /> <!-- new: 585 -->
	</Component>
</Prefab>
<Prefab type="BuildingPrefab" name="IndustrialManufacturingSignature09"> <!-- 24x30, oil=>petrochemicals, 1400 -->
	<Component name="BuildingProperties">
		<Field name="m_SpaceMultiplier" valueFloat="1.0" /> <!-- new: 675 -->
	</Component>
</Prefab>

</Configuration>
